
    <!-- how work section start -->
    <section class="pt-120 pb-120 bg_img" data-background="assets/images/bg/bg-5.jpg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 text-left">
            <div class="section-header">
              <h2 class="section-title"><span class="font-weight-normal"></span><b class="base--color">Sea Crypto Fx</b> <span class="font-weight-normal">Rules</span></h2>
              <p style="text-align: justify;">
        The cooperation between the Company and its investors shall be governed by the provisions of these rules. Registering on the fundamental website, the participant confirms that he/she has thoroughly read the User Agreement and undertakes to follow it. If any provisions of these rules seem to be unacceptable to you, we strongly recommend you to leave the website of the investment project and not to complete the login procedure.
        </p><hr>
        <h4 class="choose-card__title base--color">GENERAL PROVISIONS</h4>
        <p style="text-align: justify;">
        The cooperation with the Company is completely voluntary and the investor makes such a decision on its own. It should be noted that only users who came of legal age can become investors and partners of the project. Engaging in cooperation with the Company, the participant may rest assured of the personal data confidentiality and account security. Registration on the project website is not an obligation for the participant to invest. Moreover, he/she can make a profit from the Company without personal deposits, as provided for by the terms of the affiliate program. The Company cooperates with the project participants solely in accordance with the terms specified on the pages of this investment resource. Individual terms of cooperation are not applicable. The rules of the project have the same legal force as all other information provided on other pages of the Company's website.
        </p>
        <hr>
        <h4 class="choose-card__title base--color">RIGHTS AND LIABILITIES OF THE COMPANY</h4>
        <p style="text-align: justify;">
        The Company undertakes to provide seamless and round-the-clock access to the project website, as well as to ensure all necessary technical measures for its stable and correct operation.
      The Company undertakes not to share data on its customers to third parties.
      The Company undertakes to receive investors funds under trust and use them for the profit-making on cryptocurrency exchanges.
      Project developers shall not be responsible for delays in payments caused by payment systems. Also, the Company shall not be responsible for the loss of access to the investment resource due to the fault of your provider.
      The Company reserves the right to block accounts of participants who violate the rules of the project. In particular, the users caught creating multi-accounts will be blocked too.
        </p>
         <hr>
        <h4 class="choose-card__title base--color">RIGHTS AND LIABILITIES OF THE PARTICIPANT</h4>
        <p style="text-align: justify;">
       Registering on the project website, the user confirms that he/she came of legal age in the country of residence and provides only accurate data.
      The user undertakes not to transfer the login details to third parties. Otherwise, the Company shall not be responsible for possible negative consequences.
      The investor voluntarily makes a deposit to the project and understands the fact that any investment entails risks. He/she assumes responsibility for the decisions taken and their consequences.
      The investor has the right to use the Company's investment proposal, to become a member of the affiliate program, in his/her sole discretion, or ignore this opportunity. Besides, all registered users can participate in additional promotional events of the Company, if any.
      Participants are obliged to disseminate only reliable information about the Company, investment terms and solvency of the project.
      The investor has the right to terminate cooperation with the project at any time without justification.
        </p>
        <hr>
        <h4 class="choose-card__title base--color">FINAL PROVISIONS</h4>
        <p style="text-align: justify;">
       The Company's website is subject to copyright. Any copying of materials without the knowledge or consent of the project developers for the purpose of commercial use is subject to legal action
      The rules of the project can be changed at any time, the new terms shall become legally effective from the date of their publication.
      Disputes between the parties shall be settled through negotiations or in accordance with applicable legislation (through legal proceedings).
        </p>
            </div>
          </div>
        </div><!-- row end -->
      </div>
    </section>
    <!-- how work section end  -->